<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080608411205-v5ifjkihbdomsbj8c7m9qbb31aera97u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080608411205-v5ifjkihbdomsbj8c7m9qbb31aera97u</string>
	<key>API_KEY</key>
	<string>AIzaSyA8s42w2EKDBsCO9buhAMIukEN7E0cgw3I</string>
	<key>GCM_SENDER_ID</key>
	<string>1080608411205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rfid.gocart</string>
	<key>PROJECT_ID</key>
	<string>simple-shopping-c016c</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-shopping-c016c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080608411205:ios:dc4a1d1de85f09be911d2c</string>
	<key>DATABASE_URL</key>
	<string>https://simple-shopping-c016c.firebaseio.com</string>
</dict>
</plist>